<head>
  <%- include("../../partials/title-meta", {title: 'Đang Phát triển' }) %>
  <%- include("../../partials/head-css"); %>
</head>

<body data-layout="horizontal">
    <%- include("../../partials/coming-soon") %>
    <%- include("../../partials/scripts/vendor-script") %>
</body>
</html>