<!doctype html>
<html lang="en">
<head>
    <%- include("../../partials/title-meta", {title: "Tổng quan" }) %>
    <link href="/css/overview/style.css" rel="stylesheet" type="text/css" />  
    <%- include("../../partials/head-css"); %>
  </head>
  
      <body class="container-overview">
        <%- include("../../partials/overview") %>

        <%- include("../../partials/scripts/vendor-script") %>
          <script src="/js/pages/overview.init.js"></script>
      </body>
  </html>
  