<!doctype html>
<html lang="en">
<head>
  <%- include("../../partials/title-meta", {title: "Quản lý" }) %>
  <link href="/css/dashboard/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" />
</head>

    <body class="container-dashboard">
        <%- include("../../partials/dashboard") %>
        <script src="/js/pages/dashboard.init.js"></script>≈
    </body>
</html>
